<div class="mn-route-container">
  <div class="mat-display-1 route-header-margin">Alex McLean</div>
  <div class="mat-body home-body">
    <div class="about-container">
      <div class="about-left-panel">
        <img class="about-img" src="../../../assets/self.png" alt="Alex McLean" />
      </div>
      <div class="about-right-panel">
        <div class="about-section">
          <h2>Background</h2>
          <p>
            I grew up in Wixom, MI a small suburb 30min west of detroit.
            I spent most of my youth involved in Scouting, and achieved the rank of Eagle Scout in 2007.
            Throughought high school I played in a rock band with some close friends, and played shows around the local are monthly.
            Computers were constantly a center point of my life, and naturally fell into Computer Engineering while at Western Michigan University, after briefly testing the waters of Electrical Engineering.
            I graduated from Western Michigan University in 2014, and immediatly entered the work force working in software development.
            After a few short months with the company I quickly began ramping up again with web development, and specifically AngularJS.
            A long term internship in college introduced me to the framework, and I immediatly felt comfortable/just understood the framework.
            Ever since I have continued to dive more and more into the web development world where my true passion lies, learning the ins and outs of Angular, and all aspects of the Front-End.
          </p>
        </div>
        <div class="about-section">
          <h2>What I'm Passionate About</h2>
          <p>
            There are lots of things that drive me to be the person I am today and continue to grow to be.
            Paramount to them is simply making things better, or in simpler terms growth. In everything I do, generally there is a root cause of me wanting to improve a process, make something easier for someone(s), evolve thinking and methodologies, or simply make something more fun than it was before.
            Everything comes back to growth and simply put doing good things, its what makes me happy at the end of the day, and feel value.

          </p>
        </div>
        <div class="about-section">
          <h2>Personal Hobbies</h2>
          <ul>
            <li>Music / Bass Guitar</li>
            <li>Video Games - Everything Nintendo/Sony/Some PC</li>
            <li>Movies - Love everything the film industry can throw at me generally</li>
            <li>Embedded Systems/Microcontrollers</li>
            <li>Home Automation</li>
          </ul>
        </div>
        <div class="about-section">
          <h2>Achievements</h2>
          <ul>
            <li>Eagle Scout, Boy Scouts of America, 2007</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
