<div class="mn-route-container">
  <div class="mat-display-1 route-header-margin">Projects</div>
  <div class="mat-body home-body">
    <div class="projects-container">
      <div class="projects-section">
        <h2>Web Based Projects</h2>
        <div class="projects-indent-section">
          <h4>swap-board</h4>
          <p>A simple app to swap items for trade with friends, may or may not be currently optimized for craft beer :)</p>
          <a href="https://github.com/bigals/swap-board">Github Repo</a>
        </div>

        <div class="projects-indent-section">
          <h4>cw-simple-game</h4>
          <p>A web spa port of the cult classic tabletop game called Cosmic Wimpout</p>
          <a href="https://github.com/bigals/cw-simple-game">Github Repo</a>
        </div>

        <div class="projects-indent-section">
          <h4>mclean-net</h4>
          <p>
            This website! This site is open source as well, mainly because its a sandbox for me to experiment with new features, checkout
            the code sometime!
          </p>
          <a href="https://github.com/bigals/mclean-net">Github Repo</a>
        </div>
      </div>

      <div class="projects-section">
        <h2>Other Projects</h2>
        <div class="projects-indent-section">
          <h4>Performance Feedback Punching Bag System (PFPB) - Patent Pending</h4>
          <p>
            PFPB was myself, and two collegues Senior Design Project while at Western Michigan University. We developed a auditory feedback
            workout system for the Psycology Department to run behavioral tests with. The system consisted of a microcontroller box, that
            would mount to the top of a punching bag stand, connected to an array of removable accelerometers on the punching bag itself.
            The microcontroller then communicted with a custom Java app we also wrote to track workout sessions over time, playback user
            selected music playlists, and change the frequency & speed of the playback based on the input from the microcontroller and the
            user defined goals for their workout. The device was so well recieved that the OVPR department at Western Michigan University
            filed for a patent on the device as well. Feel free to checkout the source code as it has now been open sourced.
          </p>
          <a href="https://bitbucket.org/Bigals/feedback-punchingbag-public/src/master/">Bitbucket Repo</a>
        </div>
      </div>
    </div>
  </div>
</div>
