<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name" required />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="E-mail" type="email" formControlName="email" required />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Subject" formControlName="subject" />
  </mat-form-field>
  <mat-form-field>
    <textarea class="contactFormMessage"matNativeControl placeholder="Message" formControlName="message" required></textarea>
  </mat-form-field>
  <br />
    <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.valid">Submit</button>
</form>
