<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button
          mat-icon-button
          color="accent"
          routerLink="/"
          routerLinkActive="active">
            <mat-icon class="material-icons">menu</mat-icon>
        </button>

        <span class="titlebar-font">bigals-dev</span>
        <span class="example-spacer"></span>

        <button mat-icon-button color="accent">
            <mat-icon class="material-icons">mail_outline</mat-icon>
        </button>

        <button mat-icon-button color="accent">
            <mat-icon class="material-icons">help_outline</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
