<div class="resume-container">
  <div class="resume-part work-exp">
    <h2>WORK EXPERIENCE</h2>
    <div class="resume-part-cont">
        <div class="employer-block">
            <h3>Thomson Reuters - Ann Arbor, MI</h3>
            <h4>Associate Architect - (06/2018–Present)</h4>
            <ul>
              <li>Lead front-end contributor for an enterprise Angular application and five libraries</li>
              <li>Mentor and onboard front-end developers with varying base skill sets on an international level</li>
              <li>Champion industry best-practices in the front-end space for the entire department</li>
              <li>Produce and maintain reliable documentation for department processes, systems, and code bases</li>
              <li>Support all tax teams with consulting on front-end architecture and provide guidance to mitigate complex scenarios</li>
              <li>Coordinate and expedite the migration efforts of the entire front-end catalog of applications and libraries</li>
              <li>Facilitate department in-person trainings, tech talks, and recorded videos</li>
            </ul>

            <h4>Senior Software Engineer - (03/2017–06/2018)</h4>
            <ul>
              <li>Lead front-end development resource for three enterprise AngularJS Applications, five libraries, and several C++ projects</li>
              <li>Championed modernization of department AngularJS assets and standardization of both front-end builds and libraries</li>
              <li>Trained long-term C++ developers on transitioning into web development and common debugging tools/strategies</li>
            </ul>

            <h4>Software Engineer - (01/2015–03/2017)</h4>
            <ul>
              <li>Maintained six C++ tax projects and an AngularJS development resource for a separate team</li>
              <li>Managed time effectively between special projects and being a shared resource for three seperate teams</li>
              <li>
                Spearheaded solutions for internal teams as well as the entire application suite, such as suite-wide analytics logging and various
                UIs used by internal teams for json specification CRUD
              </li>
            </ul>
          </div>
          <div class="employer-block">
            <h3>Hewlett-Packard - Pontiac, MI / Remote</h3>
            <h4>SharePoint Technical Consultant Intern - (05/2013–08/2014)</h4>
            <ul>
              <li>Designed and developed SharePoint 2013 Apps, using HTML, JavaScript, CSS, jQuery, and AngularJS</li>
              <li>Developed documentation, including system specifications and user guides for SharePoint 2013 Apps</li>
              <li>Managed own time and schedule, while communicating and working with colleagues remotely</li>
            </ul>
          </div>
    </div>
  </div>
  <div class="resume-part education">
    <h2>EDUCATION</h2>
    <div class="resume-part-cont">
      <h3>Western Michigan University - Kalamazoo, MI</h3>
      <h5>B.S. Computer Engineering - Graduated Fall 2014</h5>
      <h5>Computer Science Minor - Overall GPA: 3.26 (4.00 scale)</h5>

      <h4>Senior Design Project: Performance Feedback Punching Bag System; Patent Pending</h4>
      <ul>
        <li>
          Scrummaster and Developer
        </li>
      </ul>
    </div>
  </div>
  <div class="resume-part honors">
    <h2>HONORS AND ACTIVITIES</h2>
    <div class="resume-part-cont">
      <ul>
        <li>Achieved the rank of Eagle Scout, November 2007, Alum</li>
        <li>Active Volunteer for Playworks Michigan (2016-Present)</li>
        <li>ng-conf 2019 attendee</li>
      </ul></div>
  </div>
</div>
